* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(36, 34, 34);
}

.nav-bar li {
    display: inline-block;
}

.nav-bar a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.flex-container {
    display: flex;
    color: white;
}

.btn-click {
    color: white;
}

.btn-green {
    background-color: green;
}

.btn-black {
    background-color: black;
}
